:root {
  --slight-translucent-black: hsla(0, 0%, 0%, 0.8);
  --slight-translucent-white: hsla(0, 0%, 100%, 0.7);
  --slight-translucent-grey: hsla(227, 15%, 47%, 0.4);
  --dark-grey: hsl(0, 0%, 12%);
  --light-grey: hsl(0, 0%, 52%);
  --blue: hsl(204, 58%, 55%);
}
